body {
  font-family: "Yu Gothic", "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic"!important;
}

.font-La-Belle-Aurore {
  font-family: 'La Belle Aurore', cursive !important;
}
.font-Shippori-Mincho-B1 {
  font-family: 'Shippori Mincho B1', serif !important;
}
.font-Lora {
  font-family: 'Lora', serif !important;
}

  .altruist {
    background: linear-gradient(#CD6B6B, #F8F4E6);
  }
  
  .hedonistic {
    background: linear-gradient(#00695C, #F8F4E6);
  }
  
  .love {
    background: linear-gradient(#F8BBD0, #F8F4E6);
  }
  
  .moderation {
    background: linear-gradient(#BA68C8, #F8F4E6);
  }
  .accepting {
    background: linear-gradient(#CD6B6B, #F8F4E6);
  }
  .variety {
    background: linear-gradient(#CD6B6B, #F8F4E6);
  }
  .hedonism {
    background: linear-gradient(#303F9F, #F8F4E6);
  }
  .cooperation {
    background: linear-gradient(#7C4DFF, #F8F4E6);
  }
  .acceptance-of-life {
    background: linear-gradient(#00695C, #F8F4E6);
  }
  .self-disciplined {
    background: linear-gradient(#01579B, #F8F4E6);
  }
  .activist {
    background: linear-gradient(#1B5E20, #F8F4E6);
  }
  .meditative {
    background: linear-gradient(#00C853, #F8F4E6);
  }
  .achievement {
    background: linear-gradient(#AEEA00, #F8F4E6);
  }
  
  
  /*  横向きのグラデーション
   * 
   */
  .altruist-row {
    background: linear-gradient(to left,#CD6B6B, #F8F4E6);
  }
   .hedonistic-row {
    background: linear-gradient(to left, #00695C, #F8F4E6) !important;
  }
  .love-row {
    background: linear-gradient(to left, #F8BBD0, #F8F4E6);
  }
  .moderation-row {
    background: linear-gradient(to left, #BA68C8, #F8F4E6);
  }
  .accepting-row {
    background: linear-gradient(to left, #CD6B6B, #F8F4E6);
  }
  .variety-row {
    background: linear-gradient(to left, #CD6B6B, #F8F4E6);
  }
  .hedonism-row {
    background: linear-gradient(to left, #303F9F, #F8F4E6);
  }
  .cooperation-row {
    background: linear-gradient(to left, #7C4DFF, #F8F4E6);
  }
  .acceptance-of-life-row {
    background: linear-gradient(to left, #00695C, #F8F4E6);
  }
  .self-disciplined-row {
    background: linear-gradient(to left, #01579B, #F8F4E6);
  }
  .activist-row {
    background: linear-gradient(to left, #1B5E20, #F8F4E6);
  }
  .meditative-row {
    background: linear-gradient(to left, #00C853, #F8F4E6);
  }
  .achievement-row {
    background: linear-gradient(to left, #AEEA00, #F8F4E6);
  }
