html{
  margin:0;
}
body {
  font-family: "Yu Gothic", "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic"!important;
}

.font-La-Belle-Aurore {
  font-family: 'La Belle Aurore', cursive !important;
}
.font-Shippori-Mincho-B1 {
  font-family: 'Shippori Mincho B1', serif !important;
}
.font-Lora {
  font-family: 'Lora', serif !important;
}
.font-Tsukimi-Rounded {
  font-family: 'Tsukimi Rounded', serif !important;
}
.font-Zen-Kaku-Gothic-New{
  font-family: 'Zen Kaku Gothic New', serif !important;
}
.font-Kumbh-Sans {
  font-family: 'Kumbh Sans', serif !important;
}

/* 奉仕型 */
.altruist {
  background: linear-gradient(#6BCDAA, #DEBAEA);
}
/* 安楽型 */
.hedonistic {
  background: linear-gradient(#CD6BC3, #DEBAEA);
}
/* 慈愛型 */
.love {
  background: linear-gradient(#CD6B6B, #DEBAEA);
}
/* 中庸型 */
.moderation {
  background: linear-gradient(#6BCD75, #DEBAEA);
}
/* 受容型 */
.accepting {
  background: linear-gradient(#6BC7CD, #DEBAEA);
}
/* 多彩型 */
.variety {
  background: linear-gradient(#CDC36B, #DEBAEA);
}
/* 享楽型 */
.hedonism {
  background: linear-gradient(#B46BCD, #DEBAEA);
}
/* 協同型 */
.cooperation {
  background: linear-gradient(#B4CD6B, #DEBAEA);
}
/* 達観型 */
.acceptance-of-life {
  background: linear-gradient(#31365E, #DEBAEA);
}
/* 克己型 */
.self-disciplined {
  background: linear-gradient(#6B75CD, #DEBAEA);
}
/* 活動型 */
.activist {
  background: linear-gradient(#CD886B, #DEBAEA);
}
/* 瞑想・内面型 */
.meditative {
  background: linear-gradient(#6BCDAA, #DEBAEA);
}
/* 行動・努力型 */
.achievement {
  background: linear-gradient(#DB4A4A, #DEBAEA);
}



/* 横向きのグラデーション
 * 
 */
/* NOTE: また色味が変わるかもしれないので一旦全てのタイプに同じ色を記載する */
/* 奉仕型 */
.altruist-row {
  background: linear-gradient(to left,#DEBAEA, #FFFAE8);
}
/* 安楽型 */
.hedonistic-row {
  background: linear-gradient(to left,#DEBAEA, #FFFAE8);
}
/* 慈愛型 */
.love-row {
  background: linear-gradient(to left,#DEBAEA, #FFFAE8);
}
/* 中庸型 */
.moderation-row {
  background: linear-gradient(to left,#DEBAEA, #FFFAE8);
}
/* 受容型 */
.accepting-row {
  background: linear-gradient(to left,#DEBAEA, #FFFAE8);
}
/* 多彩型 */
.variety-row {
  background: linear-gradient(to left,#DEBAEA, #FFFAE8);
}
/* 享楽型 */
.hedonism-row {
  background: linear-gradient(to left,#DEBAEA, #FFFAE8);
}
/* 協同型 */
.cooperation-row {
  background: linear-gradient(to left,#DEBAEA, #FFFAE8);
}
/* 達観型 */
.acceptance-of-life-row {
  background: linear-gradient(to left,#DEBAEA, #FFFAE8);
}
/* 克己型 */
.self-disciplined-row {
  background: linear-gradient(to left,#DEBAEA, #FFFAE8);
}
/* 活動型 */
.activist-row {
  background: linear-gradient(to left,#DEBAEA, #FFFAE8);
}
/* 瞑想・内面型 */
.meditative-row {
  background: linear-gradient(to left,#DEBAEA, #FFFAE8);
}
/* 行動・努力型 */
.achievement-row {
  background: linear-gradient(to left,#DEBAEA, #FFFAE8);
}

/* 各タイプのテキストカラー */
/* 奉仕型 */
.altruist-text-color {
  color: #6BCDAA;
}
/* 安楽型 */
.hedonistic-text-color {
  color: #CD6BC3;
}
/* 慈愛型 */
.love-text-color {
  color: #CD6B6B;
}
/* 中庸型 */
.moderation-text-color {
  color: #6BCD75;
}
/* 受容型 */
.accepting-text-color {
  color: #6BC7CD;
}
/* 多彩型 */
.variety-text-color {
  color: #CDC36B;
}
/* 享楽型 */
.hedonism-text-color {
  color: #B46BCD;
}
/* 協同型 */
.cooperation-text-color {
  color: #B4CD6B;
}
/* 達観型 */
.acceptance-of-life-text-color {
  color: #31365E;
}
/* 克己型 */
.self-disciplined-text-color {
  color: #6B75CD;
}
/* 活動型 */
.activist-text-color {
  color: #CD886B;
}
/* 瞑想・内面型 */
.meditative-text-color {
  color: #6BCDAA;
}
/* 行動・努力型 */
.achievement-text-color {
  color: #DB4A4A;
}
