$pc: 1250px; // PC
$tab: 768px; // タブレット
$sp: 820px; // スマホ // NOTE: タブレット画面を考慮するのがめんどくさいので$spを大きくしてSP画面をタブレット画面にする

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}

@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
